{% extends 'base.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg ">
    {% include 'include/alert.html' %}
    <div class="container">
        <div class="row">
            {% include 'include/dashboard-sidebar.html' %}
            <main class="col-md-9">
                <article class="card dashbord-card">
                    <header class="card-header card-header-1">
                        <strong class="d-inline-block mr-3">Logged In As : </strong>
                        <span>{{user.full_name}}</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card dashbord-card-1" style="text-align: center;">
                                    <div class="card-body">
                                        <h5 class="card-title text-white">Total Order</h5>
                                        <h4 class="text-muted">{{orders_count}}</h4>
                                        <a class="dashbord-a" href="{% url 'my_order'%}">View Order</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card dashbord-card-1" style="text-align: center;">
                                    <div class="card-body">
                                        <img src="{{ userprofile.profile_picture.url}}" alt="User Profile Picture"
                                            width="50" height="50" style="border-radius: 50%;">
                                        <p class="mb-0 text-muted">{{user.email}}</p>
                                        <p class="text-muted">{{user.phone_number}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    <div class="table-responsive">
                    </div> <!-- table-responsive .end// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}