<aside class="col-md-4 col-sm-12 ">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item text-center{% if '/accounts/' == request.path %} active {% endif %}" href="{% url 'dashbord' %}">Dashboard</a>
        <a class="list-group-item text-center{% if '/accounts/my_order/' == request.path %} active {% endif %}" href="{% url 'my_order' %}"> My orders </a>
        <a class="list-group-item text-center{% if '/accounts/edit_profile/' == request.path %} active {% endif %}" href="{% url 'edit_profile' %}"> Edit profile </a>
        <a class="list-group-item text-center{% if '/accounts/change_password/' == request.path %} active {% endif %}" href="{% url 'change_password' %}"> Change Password </a>

    </ul>
    <br>
    <br>
    <a class="btn btn-outline-danger btn-block mb-5" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>