{% extends 'base.html' %}
{% load static %}
{% block content %}


</header> <!-- section-header.// -->

<!-- style="background: url('/static/images/banners/banner-1.png') no-repeat center" -->
<!-- ======= art banner Section ======= -->
<div id="art" class="bg-image">
	<div class="container">
		<!-- <div class="row">
			{% for i in products %}
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				  <li data-target="#carouselExampleIndicators" data-slide-to="{{i.id}}" class="active"></li>
				</ol>
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img class="d-block w-100" src="{{i.images.url}}" alt="First slide">
				  </div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>
			  {% endfor %}
		</div>	 -->
	</div>
</div><!-- End art Section -->
<!-- <div class="container">
    <div class="row">
		{% for i in products %}
        <div class="card">
			<a href="{{i.get_url}}" class="img-wrap h-img"> <img src="{{i.images.url}}"> </a>
		</div>
		{% endfor %}
    </div>
</div> -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-3 mb-5 mt-5">
				<hr class="bg-primary">
				<header class="section-heading">
					<h3 class="section-title text-center">Category</h3>
				</header><!-- sect-heading -->
				<hr class="bg-primary">
				{% for i in category %}
				<a class="list-group-item text-center" href="{{ i.get_url }}">{{i.category_name}}</a>
				{% endfor %}
			</div>
			<div class="col-md-9">
				<header class="section-heading">
					<hr class="bg-primary">	
					<a href="{% url 'store' %}" class="btn btn-outline-light float-right">See all</a>
					<h3 class="section-title text-center">Popular Arts</h3>
				</header><!-- sect-heading -->
				<hr class="bg-primary">
				<div class="row">
					{% for i in products %}
					<div class="col-6 col-sm-4 col-md-4 col-lg-3">
						<div class=" card-product-grid cus-card" style="height:95%;">
							<a href="{{i.get_url}}" class="img-wrap "><img src="{{i.images.url}}" alt=""></a>
							<figcaption class="info-wrap">
								<a href="{{i.get_url}}" class="title">{{ i.product_name }}</a>
								<div class="price mt-1">${{i.price}}.00</div>
								<div class="rating-star">
									<span>
										<i class="fa fa-star{% if i.averageReview <  0.5 %}-o{% elif i.averageReview >= 0.5 and i.averageReview < 1 %}-half-o {% endif %}"
											aria-hidden="true"></i>
										<i class="fa fa-star{% if i.averageReview <  1.5 %}-o{% elif i.averageReview >= 1.5 and i.averageReview < 2 %}-half-o {% endif %}"
											aria-hidden="true"></i>
										<i class="fa fa-star{% if i.averageReview <  2.5 %}-o{% elif i.averageReview >= 2.5 and i.averageReview < 3 %}-half-o {% endif %}"
											aria-hidden="true"></i>
										<i class="fa fa-star{% if i.averageReview <  3.5 %}-o{% elif i.averageReview >= 3.5 and i.averageReview < 4 %}-half-o {% endif %}"
											aria-hidden="true"></i>
										<i class="fa fa-star{% if i.averageReview <  4.5 %}-o{% elif i.averageReview >= 4.5 and i.averageReview < 5 %}-half-o {% endif %}"
											aria-hidden="true"></i>
									</span>
								</div>
							</figcaption>
						</div>
						<!-- <span class="badge badge-pillow notifyy"><i class="fa fa-heart-o"></i></i></span> -->
					</div> <!-- col.// -->
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	</div><!-- container // -->
</section>

{% endblock %}