/* Hide radio button */
.rate > input{
    display: none;
}
.rate{
    display: inline-block;
    border: 0;
}
.rate > label{
    float: right;
}

/* Showing the stars */
.rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}
/* half CLASS */
.rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}
/* click and hover */
input:checked ~ label, label:hover~ label{
    color: #ffb503;
}

/* hover highlight  */
input:checked + label:hover,input:checked~ label:hover,input:checked~ label:hover~label,label:hover~input:checked~label{
    color: #cc9000;
}
.rating-star i{
    color: #ffb503 ;
}

/* product gallary */
ul.thumb{
    margin: 0 auto;
    padding: 0;
    float: left;
}
ul.thumb li{
    list-style: none;
    margin: 10px;
}
ul.thumb li img{
    width: 80px;
    height: 80px;
    border: 1px solid gray;
}

/* Art banner section */
#art{
    background: url('/static/images/banners/banner-2.png') no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    background-attachment: fixed;
    opacity: .8;
}
.art-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
.cus-card{
    text-align: center; 
    border: 0.1px solid #bdd0ff;

}
.section-name{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,80,102,1) 50%, rgba(80,80,102,1) 53%, rgba(0,0,0,1) 100%);
}
.form-control{
    border-color: #969696;
    background: transparent;
    color: #969696;
}
.box{
    background: transparent;
}
.card-cart{
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}
#cart-section{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,80,102,1) 37%, rgba(80,80,102,1) 65%, rgba(0,0,0,1) 100%);
}
.section-checkout{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,80,102,1) 37%, rgba(80,80,102,1) 65%, rgba(0,0,0,1) 100%);
}
.checkout-card{
    background: transparent;
    border: 1px solid rgb(219, 219, 219);
}
/* place order */
.section-payment{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,80,102,1) 37%, rgba(80,80,102,1) 65%, rgba(0,0,0,1) 100%);
}
.payment-card{
    background-color:transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.37rem;
}
.card-header-3{
    color: antiquewhite;
    background: transparent;
    border-bottom: none;
    text-align: center;
    text-transform: uppercase;
}
.text-center-1{
    text-transform: uppercase;
    color: aliceblue;
}
/* ordr_complatet */
.section-complete,.section-pagetop{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,80,102,1) 37%, rgba(80,80,102,1) 65%, rgba(0,0,0,1) 100%);
}
.invoice-1{
    margin: 0 auto;
    width: 85%;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: transparent;
    border: 0.5px solid rgb(255 255 255);
}
.per70{
    color: antiquewhite;
    text-transform: uppercase;
}
.per25{
    color: antiquewhite;
    text-transform: uppercase;
}
.per5{
    color: antiquewhite;
    text-transform: uppercase;
}
.text-right-1{
    color: antiquewhite;
    text-transform: uppercase;
}
/* account section */
.section-conten{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,80,102,1) 37%, rgba(80,80,102,1) 65%, rgba(0,0,0,1) 100%);
}
.list-group-item{
    background: transparent;
    color: antiquewhite;
    border: none;
    /* border: 2px solid rgba(0, 0, 0, 0.125); */
    
}
.list-group-item.active {
    background: transparent;
    border: 2px solid rgb(243, 243, 243);
}
.list-group-item:hover{
    background: transparent;
    color: antiquewhite;
    border: 2px solid  antiquewhite;
    
}
/* dashbord account */
.dashbord-card{
    background: transparent;
    border: none;
}
.card-header-1{
    border: 2px solid rgb(243, 243, 243);
    background: transparent;
    color: antiquewhite;
    text-transform: uppercase;
}
.dashbord-card-1{
    background-color: transparent;
    border: 1px solid rgb(243, 243, 243);
}
.dashbord-a:hover{    
    color: rgb(255, 255, 255);
}

/* dashbord edit profile */
.edit-card{
    background: transparent;
    border: 1px solid white;
    color: antiquewhite;
}
.edit-card-header{
    background: transparent;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}
/* dashbord change password */
.change-card{
    background: transparent;
    border: 2px solid white;
    color: antiquewhite;

}
.edit-card-header{
    background: transparent;
}
/* dashbord my_order */
.th-edit{
    color: antiquewhite;
    text-transform: uppercase;
}
.order-card{
    background: transparent;
    border: 1px solid white;
    text-align: center;
    
}
.card-header-order{
    background: none;
    border: none;
    color: white;
    text-transform: uppercase;
}
.order-a:hover{
    color: wheat;
}
/* signin page */
.signin-card{
    text-transform: uppercase;
    color: antiquewhite;
    background: none;
    border: 1px solid white;
}
.card-title{
    align-items: center;
}
/* store page  */
.section-content{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,80,102,1) 37%, rgba(80,80,102,1) 65%, rgba(0,0,0,1) 100%);
}
.store-card{
    background: none;
    border:1px solid white;
    text-align: center;
}
.page-link{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffffff;
    background: none;
    border: none;
    
}
@media (max-width: 575.98px) {
    .space-1{
        max-width: 27%;
    }
    .space-2{
        max-width: 100%;
    }
    .spacetop{
        margin-top: 18px;
    }
}
/* .notifyy {
    position: absolute;
    top: -14px;
    right: -6px;
    display: inline-block;

    font-size: 25px;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
  }
  .badge-pillw {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  } */