{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container" style="margin-top: 20px;">
        {% if 'search' in request.path %}
        <h2 class="title-page">Search Result </h2>
        {% elif categories %}
        <h2 class="title-page">{{categories.category_name}}</h2>
        {% else %}
        <h2 class="title-page">Our Store</h2>
        {% endif %}
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-yy">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="card store-card">
                    <article class="filter-group">
                        <header class="card-header" style="background: none;">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down text-white"></i>
                                <h6 class="title text-white">Categories</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1">
                            <div class="card-body">
                                <ul class="list-menu">
                                    <li><a class="list-group-item text-center{% if '/store/' == request.path %} active {% endif %}" href="{% url 'store' %}">All products </a></li>
                                    {% for i in links %}
                                    <li><a class="list-group-item text-center" href="{{ i.get_url }}">{{i.category_name}} </a></li>
                                    {% endfor %}
                                </ul>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
            <main class="col-md-9 ">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto"> <b class="text-muted">found {{Products_count}} items</b></span>
                    </div>
                </header><!-- sect-heading -->
                <div class="row ">
                    {% if Products %}
                    {% for i in Products %}
                    <div class="col-6 col-sm-4 col-md-3">
                        <figure class="card card-product-grid store-card">
                            <div class="img-wrap">
                                <a href="{{i.get_url}}">
                                    <img src="{{i.images.url}}">
                                </a>
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <div class="fix-height">
                                    <a href="{{i.get_url}}" class="title" style="color: rgb(255, 255, 255);">{{i.product_name}}</a>
                                    <div class="price-wrap mt-2">
                                        <span class="price text-muted" >${{i.price}}</span>
                                        <del class="price-old">$150</del>
                                    </div> <!-- price-wrap.// -->
                                </div>
                                <a href="{{i.get_url}}" class="btn btn-block btn-outline-primary">View Details</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    {% endfor %}
                    {% else %}
                    <div>
                        <h2 style="color: antiquewhite;">No result found....</h2>
                    </div>
                    {% endif %}
                </div> <!-- row end.// -->
                <nav class="mt-4 center" aria-label="Page navigation sample" style="display: flex;
                justify-content: center;">
                    {% if Products.has_other_pages %}
                    <ul class="pagination">
                        {% if Products.has_previous %}
                        <li class="page-item"><a class="btn-outline-light btn mr-2" href="?page={{ Products.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li id="messd" class="page-item disabled"><a class="btn-outline-light text-muted  btn mr-2" href="#">Previous</a></li>
                        {% endif %}
                        {% for i in Products.paginator.page_range %}
                        {% if Products.number == i %}
                        <li class="page-item page-item-1 "><a class=" btn btn-outline-gray-light ml-1 active" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item "><a class=" ml-1 btn btn-outline-gray-light" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if Products.has_next %}
                        <li class="page-item"><a class="btn-outline-light btn ml-2" href="?page={{ Products.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li id="messd" class="page-item disabled"><a class="btn-outline-light btn ml-2 text-muted " href="">Next</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>
            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}